<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main | 코박죽</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">

    <style>
        * {
            font-family: 'Roboto Mono', 'Nanum Gothic Coding', monospace, sans-serif;
            color: limegreen;
        }

        .write-form {
            color: limegreen;
            background-color: black;
            width: 600px;
            height: 500px;
            padding: 50px;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: limegreen 1px dashed;
        }

        .write-form input {
            padding: 8px;
            font-size: 18px;
            border: limegreen 1px solid;
            background-color: transparent;
            text-align: center;
        }

        .write-form textarea {
            padding: 8px;
            font-size: 13px;
            border: limegreen 1px solid;
            background-color: transparent;
            text-align: center;
        }

        .write-form textarea:focus {
            outline: none;
        }

        .write-url-input, .write-title-input {
            height: 35px;
            width: 400px;
        }

        .write-desc-input {
            height: 100px;
            width: 400px;
        }

        .write-submit-button {
            cursor: pointer;
            margin-top: 30px;
            font-size: 20px;
            height: 60px;
            width: 200px;
            background-color: transparent;
            border: limegreen 1px solid;
            outline: 0;
            transition: all 80ms linear;
        }

        .write-submit-button:hover {
            background-color: rgba(204, 204, 204, 0.2);
        }

        .write-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: -70px;
        }

        .write-openbutton {
            cursor: pointer;
            margin: 15px;
            height: 50px;
            width: 260px;
            font-size: 25px;
            background-color: black;
            border: limegreen 1px solid;
            outline: 0;
            position: relative;
            overflow: hidden;
            z-index: 1;
        }

        .write-openbutton:after {
            content: '';
            width: 0;
            height: 100%;
            background-color: gray;
            opacity: 0.3;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            transition: all 0.5s;
        }

        .write-openbutton:hover:after {
            width: 100%;
        }

        header {
            width: 100%;
            padding-top: 20px;
        }

        .more-button-container {
            display: flex;
            width: 100%;
            height: 100px;
            justify-content: center;
        }

        .more-button {
            font-family: 'Roboto Mono', 'Nanum Gothic Coding', monospace;
            width: 200px;
            height: 70px;
            color: limegreen;
            font-size: 30px;
            background-color: black;
            border: limegreen 3px dashed;
            cursor: pointer;
        }

        .search-box {
            display: none;
            position: relative;
        }


        .go-back-container{
            cursor: pointer;
            color: limegreen;
            position: absolute;
            font-size: 36px;
            top: -60px;
            left: 2%;
            margin: 0px;
        }



    </style>
</head>

<body>
<header>
    <div class="button-box">
        <button class="login-button" onclick="window.location.href='/login'">Login</button>
        <button class="logout-button" onclick="logout()">Logout</button>
    </div>
</header>
<div class="logo">
    <div class="logo-CBZ">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CCCCCCCCCCCCC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BBBBBBBBBBBBBBBBB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;kkkkkkkk&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ZZZZZZZZZZZZZZZZZZZ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;kkkkkkkk</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CCC::::::::::::C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B::::::::::::::::B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;k::::::k&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:::::::::::::::::Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;k::::::k</p>
        <p>&nbsp;&nbsp;&nbsp;CC:::::::::::::::C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B::::::BBBBBB:::::B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;k::::::k&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:::::::::::::::::Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;k::::::k</p>
        <p>&nbsp;&nbsp;C:::::CCCCCCCC::::C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BB:::::B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B:::::B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;k::::::k&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:::ZZZZZZZZ:::::Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;k::::::k</p>
        <p>&nbsp;C:::::C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CCCCCC&nbsp;&nbsp;&nbsp;ooooooooooo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B::::B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B:::::B&nbsp;&nbsp;aaaaaaaaaaaaa&nbsp;&nbsp;&nbsp;&nbsp;k:::::k&nbsp;&nbsp;&nbsp;&nbsp;kkkkkkk&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ZZZZZ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:::::Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ooooooooooo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ooooooooooo&nbsp;&nbsp;&nbsp;&nbsp;k:::::k&nbsp;&nbsp;&nbsp;&nbsp;kkkkkkk</p>
        <p>C:::::C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;oo:::::::::::oo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B::::B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B:::::B&nbsp;&nbsp;a::::::::::::a&nbsp;&nbsp;&nbsp;k:::::k&nbsp;&nbsp;&nbsp;k:::::k&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:::::Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;oo:::::::::::oo&nbsp;&nbsp;oo:::::::::::oo&nbsp;&nbsp;k:::::k&nbsp;&nbsp;&nbsp;k:::::k</p>
        <p>C:::::C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o:::::::::::::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B::::BBBBBB:::::B&nbsp;&nbsp;&nbsp;aaaaaaaaa:::::a&nbsp;&nbsp;k:::::k&nbsp;&nbsp;k:::::k&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:::::Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o:::::::::::::::oo:::::::::::::::o&nbsp;k:::::k&nbsp;&nbsp;k:::::k</p>
        <p>C:::::C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o:::::ooooo:::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B:::::::::::::BB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a::::a&nbsp;&nbsp;k:::::k&nbsp;k:::::k&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:::::Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o:::::ooooo:::::oo:::::ooooo:::::o&nbsp;k:::::k&nbsp;k:::::k</p>
        <p>C:::::C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B::::BBBBBB:::::B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;aaaaaaa:::::a&nbsp;&nbsp;k::::::k:::::k&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:::::Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::oo::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;k::::::k:::::k</p>
        <p>C:::::C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B::::B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B:::::B&nbsp;&nbsp;aa::::::::::::a&nbsp;&nbsp;k:::::::::::k&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:::::Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::oo::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;k:::::::::::k</p>
        <p>C:::::C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B::::B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B:::::B&nbsp;a::::aaaa::::::a&nbsp;&nbsp;k:::::::::::k&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:::::Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::oo::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;k:::::::::::k</p>
        <p>&nbsp;C:::::C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CCCCCCo::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B::::B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B:::::Ba::::a&nbsp;&nbsp;&nbsp;&nbsp;a:::::a&nbsp;&nbsp;k::::::k:::::k&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ZZZ:::::Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ZZZZZo::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::oo::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o::::o&nbsp;k::::::k:::::k</p>
        <p>&nbsp;&nbsp;C:::::CCCCCCCC::::Co:::::ooooo:::::o&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BB:::::BBBBBB::::::Ba::::a&nbsp;&nbsp;&nbsp;&nbsp;a:::::a&nbsp;k::::::k&nbsp;k:::::k&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z::::::ZZZZZZZZ:::Zo:::::ooooo:::::oo:::::ooooo:::::ok::::::k&nbsp;k:::::k</p>
        <p>&nbsp;&nbsp;&nbsp;CC:::::::::::::::Co:::::::::::::::o&nbsp;......&nbsp;B:::::::::::::::::B&nbsp;a:::::aaaa::::::a&nbsp;k::::::k&nbsp;&nbsp;k:::::k&nbsp;&nbsp;&nbsp;......&nbsp;Z:::::::::::::::::Zo:::::::::::::::oo:::::::::::::::ok::::::k&nbsp;&nbsp;k:::::k</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CCC::::::::::::C&nbsp;oo:::::::::::oo&nbsp;&nbsp;.::::.&nbsp;B::::::::::::::::B&nbsp;&nbsp;&nbsp;a::::::::::aa:::ak::::::k&nbsp;&nbsp;&nbsp;k:::::k&nbsp;&nbsp;.::::.&nbsp;Z:::::::::::::::::Z&nbsp;oo:::::::::::oo&nbsp;&nbsp;oo:::::::::::oo&nbsp;k::::::k&nbsp;&nbsp;&nbsp;k:::::k</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CCCCCCCCCCCCC&nbsp;&nbsp;&nbsp;ooooooooooo&nbsp;&nbsp;&nbsp;&nbsp;......&nbsp;BBBBBBBBBBBBBBBBB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;aaaaaaaaaa&nbsp;&nbsp;aaaakkkkkkkk&nbsp;&nbsp;&nbsp;&nbsp;kkkkkkk&nbsp;......&nbsp;ZZZZZZZZZZZZZZZZZZZ&nbsp;&nbsp;&nbsp;ooooooooooo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ooooooooooo&nbsp;&nbsp;&nbsp;kkkkkkkk&nbsp;&nbsp;&nbsp;&nbsp;kkkkkkk</p>
    </div>
    <div class="logo-130">
        <p>&nbsp;&nbsp;1111111&nbsp;&nbsp;&nbsp;&nbsp;333333333333333&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;000000000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>
            &nbsp;1::::::1&nbsp;&nbsp;&nbsp;3:::::::::::::::33&nbsp;&nbsp;&nbsp;&nbsp;00:::::::::00&nbsp;&nbsp;&nbsp;</p>
        <p>1:::::::1&nbsp;&nbsp;&nbsp;3::::::33333::::::3 00:::::::::::::00&nbsp;</p>
        <p>111:::::1&nbsp;&nbsp;&nbsp;3333333&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3:::::30:::::::000:::::::0</p>
        <p>&nbsp;&nbsp;&nbsp;1::::1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3:::::30::::::0&nbsp;&nbsp;&nbsp;0::::::0</p>
        <p>&nbsp;&nbsp;&nbsp;1::::1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3:::::30:::::0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0:::::0</p>
        <p>&nbsp;&nbsp;&nbsp;1::::1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;33333333:::::3&nbsp;0:::::0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0:::::0</p>
        <p>&nbsp;&nbsp;&nbsp;1::::l&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3:::::::::::3&nbsp;&nbsp;0:::::0&nbsp;000&nbsp;0:::::0</p>
        <p>&nbsp;&nbsp;&nbsp;1::::l&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;33333333:::::3&nbsp;0:::::0&nbsp;000&nbsp;0:::::0</p>
        <p>&nbsp;&nbsp;&nbsp;1::::l&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3:::::30:::::0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0:::::0</p>
        <p>&nbsp;&nbsp;&nbsp;1::::l&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3:::::30:::::0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0:::::0</p>
        <p>&nbsp;&nbsp;&nbsp;1::::l&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3:::::30::::::0&nbsp;&nbsp;&nbsp;0::::::0</p>
        <p>111::::::1113333333&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3:::::30:::::::000:::::::0</p>
        <p>1::::::::::13::::::33333::::::3&nbsp;00:::::::::::::00&nbsp;</p>
        <p>1::::::::::13:::::::::::::::33&nbsp;&nbsp;&nbsp;&nbsp;00:::::::::00&nbsp;&nbsp;&nbsp;</p>
        <p>
            111111111111&nbsp;333333333333333&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;000000000&nbsp;&nbsp;</p>
    </div>
</div>


<div class="write-container">
    <button onclick="openWriteForm()" class="write-openbutton">Create Post&nbsp;<i class="fa fa-pencil-square-o"
                                                                                   aria-hidden="true"></i></button>
    <div class="write-form">
        <h1>POST FORM</h1>
        <h3>URL</h3>
        <input class="write-url-input" type="text">
        <h3>TITLE</h3>
        <input class="write-title-input" type="text">
        <h3>DESCRIPTION</h3>
        <textarea class="write-desc-input" type="text" rows="3"></textarea>
        <button onclick="submitButton()" class="write-submit-button">Submit</button>
    </div>
</div>

<div class="boxing">
    <input type="text" id="src" style="text-align: center">
    <a class="search-button" onclick="searchWord()" href="#" id="search-box">
        <i class="fa fa-search" aria-hidden="true"></i>
    </a>
</div>

<div class="search-box">
    <p class="go-back-container" onclick="back_home()">GO BACK <i class="fa fa-undo" aria-hidden="true"></i></p>
</div>
<div class="card-box">
    {% for writing in writings %}
        <div class="mycard" id="{{ writing['_id'] }}">
            <a href="{{ writing['url'] }}">
            <img class="card-img-top"
                    {% if writing['img_url'] %}
                 src="{{ writing['img_url'] }}"
                    {% else %}
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Bicycle_Red_Standard_Cards.png/330px-Bicycle_Red_Standard_Cards.png"
                    {% endif %}
                 alt="Card image cap">
            </a>
            <div class="card-body">
            <i class="card-delete-button far fa-trash-alt" onclick="deleteWriting('{{ writing['_id'] }}')"></i>
                <p class="like_count_container"><span class="like_count">{{ writing['like_count'] }}</span>명이 좋아합니다!</p>
                <a class="card-title">{{ writing['title'] }}</a>
                <p class="card-text">{{ writing['desc'] }}</p>
                <p class="card-writer">by {{ writing['writer_id'] }}</p>
                <div class="like-container">
                    <i class="{{ writing['like_or_unlike'] }} fa-heart like-button"
                       onclick="toggleLike('{{ writing['_id'] }}')"></i>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="more-button-container">
        <button class="more-button" onclick="loadWriting()">More</button>
    </div>
</div>

<script>

    // 로그인 만료 시 로그아웃 하는 스크립트
    {% if msg %}
        alert("{{ msg }}");
        logout();
    {% endif %}

    let max_load = 0;

    {% if max %}
        max_load = {{ max }};
    {% endif %}

    //전역변수
    let load_count = 1;
    const dummy_image = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Bicycle_Red_Standard_Cards.png/330px-Bicycle_Red_Standard_Cards.png';


    $(document).ready(function () {
        controlLoginButton();
        writingsMaxChecker();
        $('.write-openbutton').click(function () {
            let offset = $('.write-openbutton').offset();
            $('html').animate({scrollTop: offset.top}, 400);
        })
    });

    function writingsMaxChecker() {
        if (document.querySelector('.card-box').childElementCount === max_load + 1) {
            $('.more-button').hide();
        }
    }

    function loadWriting() {
        console.log(load_count);
        $.ajax({
            type: "GET",
            url: `/get_writing?times=${load_count}`,
            data: {},
            success: function (response) {
                if (response['result'] === 'success') {
                    let writings = response['writings'];
                    for (let i = 0; i < writings.length; i++) {
                        let newData = `
                        <div class="mycard" id="${writings[i]['_id']}">
                            <a href="${writings[i]['url']}">
                            <img class="card-img-top"
                                 src="${writings[i]['img_url'] ? writings[i]['img_url'] : dummy_image}"
                                 alt="Card image cap">
                                 </a>
                            <div class="card-body">
                            <i class="card-delete-button far fa-trash-alt" onclick="deleteWriting('${writings[i]['_id']}')"></i>
                            <p class="like_count_container"><span class="like_count">${writings[i]['like_count']}</span>명이 좋아합니다!</p>
                                <a class="card-title">${writings[i]['title']}</a>
                                <p class="card-text">${writings[i]['desc']}</p>
                                <p class="card-writer">by ${writings[i]['writer_id']}</p>
                                <div class="like-container">
                                <i class="${writings[i]['like_or_unlike']} fa-heart like-button" onclick="toggleLike('${writings[i]['_id']}')"></i>
                                </div>
                            </div>
                        </div>
                        `;
                        $('.card-box').append(newData);
                    }
                    load_count += 1;
                    writingsMaxChecker();
                } else {
                    console.log('there is no any writing')
                }
            }
        })
    }

    function toggleLike(writingId) {
        if (!$.cookie('mycookie')) {
            alert('로그인이 필요한 기능입니다!');
            return;
        }
        let likeContainer = $(`#${writingId}`);
        let likeOrUnlke = likeContainer.find('.like-button');
        console.log('before ajax');
        if (likeOrUnlke.hasClass('far')) {
            $.ajax({
                type: "POST",
                url: "/update_like",
                data: {
                    'writing_id_give': writingId,
                    'action_give': 'like'
                },
                success: function (response) {
                    if (response['result'] === "success") {
                        console.log('in ajax');
                        likeOrUnlke.addClass('fas').removeClass('far');
                        likeContainer.find('.like_count').text(response['count']);
                    } else {
                        alert('실패했습니다.');
                        window.location.reload();
                    }
                }
            })
        } else {
            $.ajax({
                type: "POST",
                url: "/update_like",
                data: {
                    'writing_id_give': writingId,
                    'action_give': 'unlike'
                },
                success: function (response) {
                    if (response['result'] === "success") {
                        likeOrUnlke.addClass('far').removeClass('fas');
                        likeContainer.find('.like_count').text(response['count']);
                    } else {
                        alert('실패했습니다.');
                        window.location.reload();
                    }
                }
            })
        }
    }

    function controlLoginButton() {
        if ($.cookie('mycookie')) {
            $('.logout-button').show();
        } else {
            $('.login-button').show();
        }
    }

    function logout() {
        $.removeCookie('mycookie');
        alert('성공적으로 로그아웃 되었습니다!');
        window.location.reload();
    }

    // 작성하기 열기 닫기 버튼
    function openWriteForm() {
        if (!$.cookie('mycookie')) {
            alert('로그인이 필요한 기능입니다!');
            return;
        }
        let nowdisplay = $('.write-form').css('display');
        if (nowdisplay === 'none') {
            $('.write-form').css('display', "flex");
            $('.write-openbutton').text('Close ')
            let newdata = document.createElement('i')
            newdata.setAttribute('class', 'fa fa-times')
            newdata.setAttribute('aria-hidden', 'true')
            $('.write-openbutton').append(newdata)
        } else {
            $('.write-form').hide();
            $('.write-openbutton').text('Create Post ')
            let newdata = document.createElement('i')
            newdata.setAttribute('class', 'fa fa-pencil-square-o')
            newdata.setAttribute('aria-hidden', 'true')
            $('.write-openbutton').append(newdata)
        }
    }

    // 작성완료버튼
    function submitButton() {
        if (!$.cookie('mycookie')) {
            alert('로그인이 필요한 기능입니다!');
            return;
        }
        let title_give = $('.write-title-input').val();
        let url_give = $('.write-url-input').val();
        let desc_give = $('.write-desc-input').val();
        $.ajax({
            type: "POST",
            url: "/write",
            data: {
                title_give,
                url_give,
                desc_give
            },
            success: function (response) {
                if (response['result'] === "success") {
                    alert(response['msg']);
                    window.location.reload();
                } else {
                    alert('글 작성에 실패했습니다.');
                    window.location.reload();
                }
            }
        })
    }


    function searchWord() {
        let title_give = $('#src').val();
        $('.card-box').hide()
        $('.search-box').show()
        $('.search-box .mycard').remove()
        $.ajax({
            type: "GET",
            url: `/search?title_give=${title_give}`,
            data: {},
            success: function (response) {
                if (response['result'] == 'success') {
                    console.log(response['search_result'])
                    let search_result = response['search_result']
                    for (let i = 0; i < search_result.length; i++) {
                        let newData = `
                        <div class="mycard" id="${search_result[i]['_id']}">
                            <a href="${search_result[i]['url']}">
                            <img class="card-img-top"
                                 src="${search_result[i]['img_url'] ? search_result[i]['img_url'] : dummy_image}"
                                 alt="Card image cap">
                            </a>
                            <div class="card-body">
                            <i class="card-delete-button far fa-trash-alt" onclick="deleteWriting('${search_result[i]['_id']}')"></i>
                                <p class="like_count_container"><span class="like_count">${search_result[i]['like_count']}</span>명이 좋아합니다!</p>
                                <a class="card-title">${search_result[i]['title']}</a>
                                <p class="card-text">${search_result[i]['desc']}</p>
                                <p class="card-writer">by ${search_result[i]['writer_id']}</p>
                                <div class="like-container">
                                <i class="${search_result[i]['like_or_unlike']} fa-heart like-button" onclick="toggleLike('${search_result[i]['_id']}')"></i>
                                </div>
                            </div>
                        </div>
                        `;
                        $('.search-box').append(newData);
                    }
                    /*let locations = document.querySelector('.search-box .mycard').offsetHeight;
                    let finallocation = 0;
                    let arr = document.querySelector('.search-box').getElementsByClassName('mycard');
                    for (i = 0; i < 3; i++) {
                        if (arr[i]) {
                            if (arr[i].offsetHeight >= locations) {
                                locations = arr[i].offsetHeight;
                                finallocation = arr[i].offsetHeight + arr[i].offsetTop + 24;
                            }
                        }
                    }*/
                    window.scrollTo({top: window.outerHeight - 130, behavior: 'smooth'});
                }else{
                    let newData = `<h1 class="search-fail-text">${response['msg']}</h1>`;
                    $('.search-box').append(newData);
                    window.scrollTo({top: window.outerHeight - 130, behavior: 'smooth'});
                }
            }
        })
    }

    function back_home() {
        $('.search-box .mycard').remove();
        reloadCardBox();
        $('.card-box').show();
        $('.search-box').hide();
    }

    $(function () {
        $("html, body").animate({scrollTop: 0}, "fast");
    });

    function reloadCardBox() {
        let nowCount = document.querySelector('.card-box').childElementCount - 1;
        $('.card-box .mycard').remove();
        $.ajax({
            type: "GET",
            url: `/reload?count=${nowCount}`,
            data: {},
            success: function (response) {
                if (response['result'] === 'success') {
                    let writings = response['writings'];
                    console.log(writings);
                    for (let i = writings.length-1; i >= 0; i--) {
                        console.log(writings[i]);
                        let newData = `
                        <div class="mycard" id="${writings[i]['_id']}">
                            <a href="${writings[i]['url']}">
                            <img class="card-img-top"
                                 src="${writings[i]['img_url'] ? writings[i]['img_url'] : dummy_image}"
                                 alt="Card image cap">
                            </a>
                            <div class="card-body">
                            <i class="card-delete-button far fa-trash-alt" onclick="deleteWriting('${writings[i]['_id']}')"></i>
                                <p class="like_count_container"><span class="like_count">${writings[i]['like_count']}</span>명이 좋아합니다!</p>
                                <a class="card-title">${writings[i]['title']}</a>
                                <p class="card-text">${writings[i]['desc']}</p>
                                <p class="card-writer">by ${writings[i]['writer_id']}</p>
                                <div class="like-container">
                                <i class="${writings[i]['like_or_unlike']} fa-heart like-button" onclick="toggleLike('${writings[i]['_id']}')"></i>
                                </div>
                            </div>
                        </div>
                        `;
                        $('.card-box').prepend(newData);
                    }
                    /*const locations = document.querySelector('.card-box').firstElementChild.offsetTop - 80;*/
                    window.scrollTo({top: window.outerHeight - 130, behavior: 'smooth'});
                }
            }
        })
    }

    function deleteWriting(writing_id) {
        if (confirm('게시글을 삭제하시겠습니까?')) {
            $.ajax({
                type: "POST",
                url: `/delete_writing`,
                data: {
                    'writing_id': writing_id
                },
                success: function (response) {
                    if (response['result'] === 'success') {
                        alert(response['msg']);
                        window.location.reload()
                    } else {
                        alert(response['msg']);
                    }
                }
            })
        }
    }

</script>
</body>

</html>
